In [3]:
# import libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

read the csv

In [9]:
df = pd.read_csv("../data/TAIPEI_diabetes.csv")

check the structure

In [10]:
print("information:")
df.info()

information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PatientID               15000 non-null  int64
 1   Pregnancies             15000 non-null  int64
 2   PlasmaGlucose           15000 non-null  int64
 3   DiastolicBloodPressure  15000 non-null  int64
 4   TricepsThickness        15000 non-null  int64
 5   SerumInsulin            15000 non-null  int64
 6   BMI                     15000 non-null  float64
 7   DiabetesPedigree        15000 non-null  float64
 8   Age                     15000 non-null  int64
 9   Diabetic                15000 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 1.1 MB

verify data types

In [11]:
print("\nFirst rows of the dataset:")
print(df.head())

First rows of the dataset:
   PatientID  Pregnancies  PlasmaGlucose  DiastolicBloodPressure  \
0    1354778            0            171                      80
1    1147438            8             92                      93
2    1640031            7            115                      47
3    1883350            9            103                      78
4    1424119            1             85                      59

   TricepsThickness  SerumInsulin        BMI  DiabetesPedigree  Age  Diabetic
0                34            23  43.509726          1.213191   21         0
1                47            36  21.240576          0.158365   23         0
2                52            35  41.511523          0.079019   23         0
3                25           304  29.582192          1.282870   43         1
4                27            35  42.604536          0.549542   22         0

check if there are missing values

In [12]:
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
PatientID                 0
Pregnancies               0
PlasmaGlucose             0
DiastolicBloodPressure    0
TricepsThickness          0
SerumInsulin              0
BMI                       0
DiabetesPedigree          0
Age                       0
Diabetic                  0
dtype: int64

no missing values in the dataset we can proceed to the next step
Patient ID is not useful for the analysis and the prediction of the target variable, so we can drop it

In [13]:
df.drop('PatientID', axis=1, inplace=True)
# check the head
df.head()

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,0,171,80,34,23,43.509726,1.213191,21,0
1,8,92,93,47,36,21.240576,0.158365,23,0
2,7,115,47,52,35,41.511523,0.079019,23,0
3,9,103,78,25,304,29.582192,1.282870,43,1
4,1,85,59,27,35,42.604536,0.549542,22,0

View data statistics in rows

In [14]:
df_summary = df.describe()
print("\nStatistical summary of the dataset:")
print(df_summary)

Statistical summary of the dataset:
        Pregnancies  PlasmaGlucose  DiastolicBloodPressure  TricepsThickness  \
count  15000.000000   15000.000000            15000.000000      15000.000000
mean       3.224533     107.856867               71.220667         28.814000
std        3.391020      31.981975               16.758716         14.555716
min        0.000000      44.000000               24.000000          7.000000
25%        0.000000      84.000000               58.000000         15.000000
50%        2.000000     104.000000               72.000000         31.000000
75%        6.000000     129.000000               85.000000         41.000000
max       14.000000     192.000000              117.000000         93.000000

       SerumInsulin           BMI  DiabetesPedigree           Age  \
count  15000.000000  15000.000000      15000.000000  15000.000000
mean     137.852133     31.509646          0.398968     30.137733
std      133.068252      9.759000          0.377944     12.089703
min       14.000000     18.200512          0.078044     21.000000
25%       39.000000     21.259887          0.137743     22.000000
50%       83.000000     31.767940          0.200297     24.000000
75%      195.000000     39.259692          0.616285     35.000000
max      799.000000     56.034628          2.301594     77.000000

           Diabetic
count  15000.000000
mean       0.333333
std        0.471420
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000